.featuredItem {
  height: 50vh;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 40vh;

  &__image {
    height: 80%;
    align-self: center;
  }

  &__link {
    font-size: small;
  }
}
