.featuredItem {
  height: 55vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 40vh;
  gap: 2vw;
  text-decoration: none;

  &__hover {
    height: 60vh;
  }

  &__imageWrap {
    height: 100%;
    position: relative;
  }

  &__image {
    height: 100%;
    align-self: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 1vw;
  }

  &__link {
    font-size: small;
  }

  &__title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vw;
    color: black;
  }
}

.container {
  position: relative;
}
.star {
  width: 3vh;
  top: 2vh;
  right: 2vh;
  position: absolute;

  z-index: 10;
  cursor: pointer;
}
