.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
  background-color: white;
  height: auto;
  padding: 3%;
  gap: 4vh;
  // box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  text-align: center;

  &__wrap {
    width: 50%;

    display: flex;
    justify-content: center;
  }

  &__header {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1vw;
  }

  &__input {
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 2vw;
    align-items: center;
    label {
      font-size: 1vw;
    }

    &__option {
      width: 80%;
      border-radius: 50vw;
      height: 80%;
      font-size: 1vw;
      padding-left: 0.3vw;
    }
  }

  h1 {
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1.5vw;
    font-family: "Open Sans", sans-serif;
  }

  button {
    width: 100%;
    border-radius: 5vw;
    border: none;
    padding: 0.5vw 0.5vw;
    font-size: 1vw;
  }

  button:hover {
    background-color: rgb(189, 189, 189);
  }
}

.star {
  width: 2.5vw;
  height: 2.5vw;
}
