.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  background-color: rgba(246, 184, 203, 0.5);
  height: 50vh;
  padding: 10%;
  gap: 4vh;

  &__wrap {
    width: 50%;

    display: flex;
    justify-content: center;
  }

  &__input {
    width: 60%;
    display: flex;
    justify-content: space-between;

    &__option {
      width: 80%;
    }
  }
  h1 {
    font-size: 3vw;
  }
  p {
    font-size: 1.5vw;
  }

  button {
    width: 100%;
  }
}
