.cart {
  width: 100vw;
  height: 100vh;
  background-color: rgb(239, 246, 245);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;

  &__container {
    width: 70vw;
    height: 60vh;
    background-color: white;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    overflow: scroll;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding-bottom: 0;
    gap: 5%;
  }

  h3 {
    font-weight: lighter;
  }

  &__footer {
    height: 5vh;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
