.item {
  &__wrap {
    width: 100vw;
    height: 85vh;

    background-color: rgb(250, 242, 242);
    padding-top: 15vh;

    display: flex;
    align-items: center;
  }

  &__image {
    width: 45%;

    &__wrap {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
