.home {
  width: 100vw;
  height: 85vh;
  margin-top: 15vh;
  position: relative;

  &__wrap {
    height: 85vh;
    width: 100vw;
  }

  &__menu {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: 5%;
      background-color: white;
      outline: none;
      border: none;
      border-radius: 50%;
    }
  }
  img.lastImage {
    object-position: bottom;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
